body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #28074a, #491088);
  color: #fff;
}

header {
  background: linear-gradient(to right, #bd4de5, #491088);
  color: #fff;
  text-align: center;
  padding: 15px;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 20px;
  background: linear-gradient(to right, #6c1dd0, #28074a);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  /* display: flex;
  align-items: center;
  text-align: center;
  */
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  background-color: #bd4de5;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  /* background-color: #ff7f1a; */
  background-color: #ff19db;
}

button:active {
  /* background-color: #bd4de5; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 10px rgba(255, 25, 219, 0.8);
}

/* Add these styles for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bd4de5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  /* background-color: #ff7f1a; */
  background-color: #ff19db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}

#temperatureDisplay {
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  margin: 10px 0;
}

#songNameDisplay {
  font-size: 20px;
  margin-bottom: 10px;
  margin: 10px 0;
}